<!DOCTYPE html>
<html>
<head>
  <title>홈화면</title>
  <style>
    .nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
    }
    .nav a, .nav button {
      width: 200px;
      margin: 10px;
      padding: 15px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      background-color: #4CAF50;
      color: white;
      text-align: center;
      text-decoration: none;
    }
    .nav a:hover, .nav button:hover {
      background-color: #45a049;
    }
  </style>
</head>
<body>
<h1 style="text-align:center; font-size:5em;">HOME</h1>
<div class="nav">
  <a href="/login" id="loginButton">로그인</a>
  <a href="/register" id="registerButton">회원가입</a>
  <a href="/productmanagement" id="productManagementButton" style="display:none;">상품관리</a>
  <a href="/ordermanagement" id="orderManagementButton" style="display:none;">주문관리</a>
  <button id="logoutButton" onclick="logout()" style="display:none;">로그아웃</button>
</div>
<script>
  async function checkTokenValidity(token) {
    try {
      const response = await fetch('/validate-token', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'Authorization': `Bearer ${token}`
        },
      });

      if (response.status === 200) {
        console.log('Token is valid (status 200)');
        return true;
      } else {
        console.log('Token is not valid (status not 200)');
        return false;
      }
    } catch (error) {
      console.error('Error:', error);
      return false;
    }
  }


  async function checkLoginStatus() {
    const token = localStorage.getItem('token');
    if (token && await checkTokenValidity(token)) {
      document.getElementById('loginButton').style.display = 'none';
      document.getElementById('logoutButton').style.display = 'inline';
      document.getElementById('productManagementButton').style.display = 'inline';
      document.getElementById('orderManagementButton').style.display = 'inline';
      document.getElementById('registerButton').style.display = 'none';
    } else {
      localStorage.removeItem('token');
      document.getElementById('loginButton').style.display = 'inline';
      document.getElementById('logoutButton').style.display = 'none';
      document.getElementById('productManagementButton').style.display = 'none';
      document.getElementById('orderManagementButton').style.display = 'none';
      document.getElementById('registerButton').style.display = 'inline';
    }
  }

  function logout() {
    localStorage.removeItem('token');
    checkLoginStatus();
  }

  // 페이지가 로드될 때 로그인 상태를 확인합니다.
  window.onload = checkLoginStatus;
</script>
</body>
</html>



